.searchInputWrapper {
    margin: 15px 2px;
}
.searchInput {
    background: #5A5C66;
    max-width: 440px;
    width: 100vw;
    height: 18px;
    color: white;
    padding: 18px 60px 15px 26px;
    font-size: 14px;
    border: none;
    outline: 0;
    background-image: url('./Vector.svg');   
    background-repeat: no-repeat; 
    background-position: center right 24px;
}

@media screen and (max-width: 767px) {
    .searchInput {
        width: 75vw;
        padding: 10px 60px 8px 26px;
    }
}